.serif{
    font-size: x-large;
}

body{
    overflow-x: hidden;
}

.mesa-das-cartas{
    padding: 20px;
    width: 85vw;
    min-height: 85vh;
}

.largura-mesa{
    width: 85vw;
}

.carta{
    width: fit-content;
    height: fit-content;
    margin: 2px;
}